.container {
  background-color: rgb(254, 255, 190);
  margin: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid black;
  padding: 100px; 
}

@media(max-width: 375px) {
  .container {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  #results {
    padding-left: 10px;
  }
}